body {
	margin: 0;
	padding: 0;
}

.dialogue {
	position: fixed;
	padding: 10px;
	box-shadow: 0 0 5px 5px blue;
	height: 150px;
	width: 100%;
	bottom: 0;
	border-top: 1px solid blue;
	background: rgb(8,8,8);
}