* {
	cursor: default;
	font-family: 'Roboto'
}

*::selection {
	background: transparent;
}

body {
	margin: 0;
	padding: 0;
	background-size: contain;
	overflow: hidden;
}

.message {
	position: fixed;
	padding: 10px;
	box-shadow: -5px 0 9px 8px #030043;
	height: 150px;
	width: 100%;
	bottom: 10px;
	opacity: 0.9;
	background: #4fb5d2;
	font-size: 30px;
	border: 4px solid #030043;
	border-width: 4px 0;
	color: #030043;
}

.full-page-text {
	visibility: hidden;
	width: 1000px;
	height: 600px;
	margin: auto;
	margin-top: 10px;
	background: rgba(156, 156, 247, 0.84);
	z-index: 1;
	position: relative;
	box-shadow: 0px 0px 20px 14px rgba(156, 156, 247, 0.84);
	border-radius: 10px;
	font-size: 30px;
	padding: 20px;
	padding-top: 1px;
}

.back {
	display: none;
	width: 100%;
	height: 100%;
	background: black;
	position: fixed;
	top: 0;
	z-index: -1;
	opacity: 0.7;
}

.choice-button {
	display:none;
	font-size: 60px;
	margin: auto;
	background: rgba(156, 156, 247, 0.84);
	box-shadow: 0px 0px 20px 3px rgba(156, 156, 247, 0.84);
	border-radius: 9px;
	position: relative;
	width: 900px;
	padding: 10px;
	margin-top: 30px;
	text-align: center;
	cursor: pointer;
	z-index: 2;
}

.arrow {
	position: absolute;
	top: 20px;
	width: 75px;
	opacity: 0.1;
	cursor: pointer;
}

.message:hover .arrow {
	opacity: 0.4;
}

img.arrow.arrow-right:hover, img.arrow.arrow-left:hover {
	opacity: 0.8;
}

.arrow-left {
	left: 20px;
}

.arrow-right {
	right: 20px;
}

.name {
	position: absolute;
	left: 7%;
	top: -22%;
	background: #4fb5d2;
	margin: 0;
	padding: 2px 9px;
	border-radius: 600px;
	display: none;
}

.upper-button {
	position: absolute;
	top: -50px;
	background: white;
	border: 1px solid black;
	border-radius: 7px;
	width: 32px;
	height: 32px;
	padding: 3px;
	cursor: pointer;
}

.dash {
	right: 25px;
	padding: 6px 3px;
}

.home {
	left: 25px;
}

.bad-end {
	position: fixed;
	text-align: center;
	color: #b0b0b0;
	display: none;
	height: 100%;
	width: 100%;
	text-shadow: 0 0 20px #000000;
}

.bad-end > * {
	font-family: 'Roboto Slab';
}

.main-title {
	font-size: 100px;
}

.add-title, .again-button {
	font-size: 60px;
}

.again-button:hover {
	color: white;
	cursor: pointer;
}