{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>UVAO</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body onclick="next()">
	<div class="bad-end">
		<p class="main-title"></p>
		<p class="add-title"></p>
		<p class="again-button" onclick="again()"></p>
	</div>
	<div class="back" id="back"></div>
	<div class="choices" id="choices">
	<div class="choice-button" onclick="choice()"></div></div>
	<audio id="audio" src="" autoplay loop></audio>
	<div class="full-page-text"></div>
	<div class="dialogue">
		<div class="message" id="message">
			<p class="name" id="name">Слэвена</p>
			<p id="text" class="text"></p>
			<img class="dash upper-button" src="{% static 'icons/dash.png' %}" onclick="dash()">
			<img class="home upper-button" src="{% static 'icons/home.png' %}" onclick="home()">
			<img class="arrow-left arrow" src="{% static 'icons/arrow-left.png' %}" onclick="prev()">
			<img class="arrow-right arrow" src="{% static 'icons/arrow-right.png' %}" onclick="next()">
		</div>
	</div>
	<div style="display: none">
	</div>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>