{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>UVAO</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body onclick="next()">
	<div class="full-screen"></div>
	<div class="bad-end">
		<p class="main-title"></p>
		<p class="add-title"></p>
		<p class="again-button" onclick="again()"></p>
	</div>
	<div class="slow-down">
		<p class="main-text"></p>
		<p class="add-text"></p>
	</div>
	<div class="back" id="back"></div>
	<div class="choices" id="choices">
	<div class="choice-button" onclick="choice()"></div></div>
	<audio id="audio" src="" autoplay loop></audio>
	<div class="full-page-text"></div>
	<div class="dialogue">
		<div class="message" id="message">
			<p class="name" id="name"></p>
			<p id="text" class="text"></p>
			<img class="dash upper-button" src="{% static 'icons/dash.png' %}" onclick="dash()">
			<img class="home upper-button" src="{% static 'icons/home.png' %}" onclick="home()">
			<img class="arrow-left arrow" src="{% static 'icons/arrow-left.png' %}" onclick="prev()">
			<img class="arrow-right arrow" src="{% static 'icons/arrow-right.png' %}" onclick="next()">
		</div>
	</div>
	<div class="menu">
		<div class="flakes"></div>
		<div class="main-menu">
			<div class="play-button menu-button" onclick="play()">PLAY</div>
			<div class="continue-button menu-button" onclick="cont()"></div>
			<div class="menu-info">
				<a target="_blanc" href="https://vk.com/feed?w=wall-54029701_10832">Ссылка на оригинальную историю Орики</a></br>
				<a target="_blanc" href="https://vk.com/orika_art">Группа Орики</a></div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>